---
import Staff from '../components/staff/staff.astro';
import OGP from '../components/ogp.astro';
import Cards from '../components/twitterCards.astro';
import Navbar from '../components/navbar.astro';

import 'bulma/css/bulma.min.css';
const staff = await Astro.glob('../components/staff/*.md');

// So far, this is a direct port from jekyll to astro. I will refactor the code... eventually. It will be a bit easier to read and go through.
---
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
	<head>
		<meta charset="utf-8">
		<title>New Therian Safehaven</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="google-site-verification" content="Shc9YmCMCBTISww7LoMg5ocAA2S3MaLfMP_-RkYXeOA" />
		<meta name="theme-color" content="#9E8D73">
		<meta name="description" content="Join our Therian-friendy Discord server">
			
		<OGP />

		<Cards />
		
	</head>
	<body>
		<section class="hero is-light is-fullheight is-bold section" id="title">
			<div class="hero-head">
				<Navbar />
			</div>
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						Welcome to the New Therian Safehaven
					</h1>
					<h2>
						We're here for new therians, long time therians, and those wondering about therianthropy.
					</h2>
				</div>
			</div>
		</section>
		<section class="section" id="about">
			<h1 class="title">About</h1><br>New Therian Safehaven is a server with the goal of bringing therians together. Therians can learn more about therianthropy, discover a small community, and interact with each other on New Therian Safehaven.
		</section>
		<section class="section" id="staff">
			<h1 class="title">Staff</h1><br>
			{ staff.map(member => <Staff name={ member.frontmatter.name } pfp={ member.frontmatter.pfp } number={ member.frontmatter.number } pronouns={ member.frontmatter.pronouns } kintypes={ member.frontmatter.kintypes }/>) }
		</section>
		<section class="section" id="faq">
			<h1 class="title">FAQ</h1><br>
			<p>NTSH's staff member M:VE made <a href="https://www.instagram.com/p/CENZinrFVdS/?utm_source=ig_web_copy_link" target="_blank">this</a> to help you understand what a therian, and others, are.</p>
		</section>
		<footer class="footer" id="join">
			<div class="content has-text-centered tags has-addons is-centered">
				<a class="tag is-large" href="https://discord.gg/w5Xbx5C">Join today!</a>
				<a class="tag is-primary is-large" href="https://disboard.org/server/638072083657523231">Disboard</a>
			</div>
		</footer>
	</body>
</html>
