---

---
<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">New Therian Safehaven</a>
            <span class="navbar-burger burger" data-target="navbarcontent" onclick="document.getElementById('navbarcontent').classList.toggle('is-active')">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarcontent" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="#about" onclick="document.getElementById('navbarcontent').classList.toggle('is-active')">About</a>
                <a class="navbar-item" href="#staff" onclick="document.getElementById('navbarcontent').classList.toggle('is-active')">Staff</a>
                <a class="navbar-item" href="#join" onclick="document.getElementById('navbarcontent').classList.toggle('is-active')">Join</a>
            </div>
        </div>
    </div>
</nav>