<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
	<head>
		<!-- Basic stuff -->
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Twitter cards -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="New Therian Safehaven" />
		<meta name="twitter:description" content="Join our Therian-friendy Discord server" />
		<meta name="twitter:image" content="https://media.discordapp.net/attachments/638075990979117076/669652420674191370/unknown.png" />
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<!-- OGP -->
		<meta property="og:title" content="New Therian Safehaven" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://media.discordapp.net/attachments/638075990979117076/669652420674191370/unknown.png" />
		<meta property="og:url" content="https://New-Therian-Safehaven.github.io/" />
		<meta property="og:description" content="Join our Therian-friendy Discord server" />
	</head>
	<body>
		{{ content }}
		
		<!-- Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
