<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
	<head>
		<!-- Basic stuff -->
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#9E8D73">
		
		<!-- Twitter cards -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="New Therian Safehaven" />
		<meta name="twitter:description" content="Join our Therian-friendy Discord server" />
		<meta name="twitter:image" content="https://media.discordapp.net/attachments/638075990979117076/669652420674191370/unknown.png" />
		
		<!-- Bulma CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
		
		<!-- OGP -->
		<meta property="og:title" content="New Therian Safehaven" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://media.discordapp.net/attachments/638075990979117076/669652420674191370/unknown.png" />
		<meta property="og:url" content="https://New-Therian-Safehaven.github.io/" />
		<meta property="og:description" content="Join our Therian-friendy Discord server" />
	</head>
	<body>
		{{ content }}
	</body>
</html>
